// @use "/src/styles/_colors.scss";
@use "Pokemon.scss";

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(0, 0, 0);
  background: #d5d5d5;
}

p {
  font-size: 30px;
}

#home-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#player-box {
  position: fixed;
  bottom: 0;
  margin: 5px;
  padding: 2px;
  background-color: white;
  border: 3px solid black;
  border-bottom: 5px solid black;
  width: calc(100% - 16px);
  height: 250px;
  border-radius: 20px;
  z-index: 2;
}

#player-box-inner-trim {
  background-color: white;
  border: 3px solid black;
  border-top: 5px solid black;
  width: calc(100% - 6px);
  height: calc(100% - 8px);
  border-radius: 16px;
}

#player-box-popup {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  padding: 2px;
  background-color: white;
  border: 3px solid black;
  border-bottom: 5px solid black;
  height: 250px;
  border-radius: 20px;
  z-index: 3;
}

.width-55 {
  width: 55%;
}

.width-45 {
  width: 45%;
}

#player-box-popup-inner-trim {
  background-color: white;
  border: 3px solid black;
  border-top: 5px solid black;
  width: calc(100% - 6px);
  height: calc(100% - 8px);
  border-radius: 16px;
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: center;
}

.four-options {
  grid-template-columns: 50% 50%;
}

.popup-options {
  font-size: 50px;
}

#player-pokemon {
  width: 600px;
  height: 300px;
  position: fixed;
  left: -3%;
  top: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#opponent-pokemon {
  width: 500px;
  height: 200px;
  position: fixed;
  right: -5%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokemon-image {
  width: 550px;
}

#player-box-container {
  padding: 2rem;
  width: 570px;
  height: 180px;
}

#search-input {
  width: 240px;
  height: 45px;
  font-size: 30px;
  padding-left: 8px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  border: 2px solid black;
}

#search-input:focus-visible {
  border: 2px solid rgb(165, 212, 209);
}

#search-button {
  width: 140px;
  height: 45px;
  font-size: 25px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  border: 2px solid black;
}

#search-button:active {
  background-color: rgb(165, 212, 209);
  border: 2px solid black;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}

#search-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 73%;
}

#search-pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-pokemon-container {
  padding: 1rem;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background: #535353;
  margin: 1rem;
}

.selected-search-pokemon {
  transform: scale(1.1);
  margin-top: 5rem;
}

#confirm-search-selected {
  width: 140px;
  height: 45px;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: rgb(242, 242, 242);
  border: 2px solid black;
}

.pokemon-icon-pokeball {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  position: relative;
  margin: 1rem;
}

.icon-over-pokeball {
  position: absolute;
  width: 170px;
}

.pokeball {
  mix-blend-mode: multiply;
  opacity: 0.5;
}
